{% extends 'base.html.twig' %}

{% block title %}Mon site - Bienvenue{% endblock %}

{% block body %}
{% set flag = false %}

<div class="example-wrapper">

{% if app.user %}
    <h1>Hello {{ app.user.username }} :)</h1>

    {% for post in posts %}

      {% for friend in app.user.friends %}

        {% if post.author.id == friend.id %}
          {% set flag = true %}
          <div class="post-line" style="background:#3c3c3c;">
            <p> {{ post.author.username }} <br> {{ post.content }} - <span class="sm-txt">{{ post.postedAt|format_datetime(locale='fr') }}</span></p>
          </div>

        {% endif %}

      {% endfor %}
      

    {% endfor %}

    {% if not flag %}
      <p>Il n'y a pas de messages sur votre fil d'actualités :( <br> Suivez plus de personnes.</p>
    {% endif %}

{% else %}

    <h1>Bienvenue sur FootFans !</h1>

    <img style="height: 250px;" src="{{ asset('css/img/logo.png') }}" />

    <p style="text-align: justify; width: 60%; margin:0 auto;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>

{% endif %}

</div>

{% endblock %}
