<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <script src="https://kit.fontawesome.com/aee899e7e7.js" crossorigin="anonymous"></script>
        
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" media="all" type="text/css"> 
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if app.user %}
            <div class="mb-3">
                <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                <a href="{{ path('index') }}"><img id="logo" src="{{ asset('css/img/mini.png') }}" /></a>
            </div>
            <ul class="main-navbar">
                <a href="{{ path('index') }}"><li><i class="fas fa-home"></i></li></a>
                <a href="{{ path('user_index') }}{{ app.user.id }}"><li><i class="fas fa-user"></i></li></a>
                <a href="{{ path('club_index') }}"><li><i class="fas fa-users"></i></li></a>
                <a href="{{ path('ad_index') }}"><li><i class="fas fa-calendar-alt"></i></li></a>
            </ul>
        {% else %}
            <div class="mb-3" style="margin:0 auto; text-align:center;">
                <ul style="display: inline-flex;">
                    <a href="{{ path('app_login') }}">
                        <li>Connexion</li>
                    </a>   
                    <a href="{{ path('index') }}">
                        <li><img id="logo" style="margin-top: -20px;" src="{{ asset('css/img/mini.png') }}" /></li>
                    </a>
                    <a href="{{ path('app_register') }}">
                        <li>Inscription</li>
                    </a>
                </ul>
                
            </div>
            <ul class="main-navbar">
                <a href="{{ path('app_logout') }}"><li><i class="fas fa-home"></i></li></a>
                <a href="{{ path('club_index') }}"><li><i class="fas fa-users"></i></li></a>
                <a href="{{ path('ad_index') }}"><li><i class="fas fa-calendar-alt"></i></li></a>
            </ul>
            
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div id="footer">
            <p>Thomas Da Costa - ECV Digital</p>
            <p>2019-2020</p>
        </div>
    </body>
</html>
