{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <h1>Clubs de Ligue 1</h1>
    <table>
        <tbody>
        {% for club in clubs %}
        <tr>
            <td style="display:flex; flex-direction:column; align-items:center;">
               <img src="{{ club.logo }}" style="height:30px;" alt="" /> </td>
            <td>
               <a style="margin-left: 15px;" href="{{ path('club_show', {'id': club.id}) }}">{{ club.name }} </a>
            </td>
                {# <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a> #}
        </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {# <a href="{{ path('club_new') }}">Create new</a> #}
{% endblock %}
