{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
<div style="height:100px; width:100%; display:flex; justify-content:column; align-items:center;">
    <h1 style="margin-right: 15px;">{{ club.name }} </h1> <img src="{{ club.logo }}" style="width:50px;" alt="" /> 

</div>
    <i>{{ club.stadium }}</i>

    <h2>Histoire</h2>
    <p>{{ club.info }}</p>
    <p> Le club a <b>{{ club.users|length }}</b> {% if club.users|length > 1 %} fans {% else %} fan {% endif %} sur le site</p>
    {% for user in club.users %}
        <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.username }}</a> <br>
    {% endfor %}
    
    <a href="{{ path('club_index') }}">back to list</a>

    {# <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a> #}

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}
