{% extends 'base.html.twig' %}

{% block title %}FootFans - {{ club.name }}{% endblock %}

{% block body %}
<div style="height:100px; width:100%; display:flex; justify-content:column; align-items:center;">
    <h1 id='clubName' style="margin-right: 15px;">{{ club.name }} </h1> <img src="{{ club.logo }}" style="width:50px;" alt="" /> 

</div>
    <i>{{ club.stadium }}</i>

    <h2>Histoire</h2>
    <p class="club-info">{{ club.info }}</p>
    <p> Le club a <span class="number">{{ club.users|length }}</span> {% if club.users|length > 1 %} fans {% else %} fan {% endif %} sur le site</p>
    {% for user in club.users %}
        <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.username }}</a> <br>
    {% endfor %}

    {# <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a> #}

    {# {{ include('club/_delete_form.html.twig') }} #}
    <div id="news">
    <h2>Les dernières infos sur le club</h2>
    {% if club.name == ('Stade Brestois') %}
        <p> Haris Belkebla sur le départ ? - 15/06/2020 - L'Équipe </p>
        <p> Stade Brestois. C'est imminent pour Honorat - 16/06/2020 - Ouest-France </p>
        <p> Un jeune amateur arrive au Stade Brestois - 12/06/2020 - France Bleu </p>
        <p> Quels objectifs pour la saison à venir ? (Stade Brestois) - 12/06/2020 - Ouest-France </p>
        <p> Le maintien, "reste la priorité" d'après Dall'Oglio - 09/06/2020 - L'Équipe</p>
    {% endif %}
    {% if club.name == ('Paris Saint-Germain') %}
        <p> Cavani et Thiago Silva quittent officiellement le PSG - 15/06/2020 - L'Équipe </p>
        <p> Mauro Icardi, le 9 tant attendu ? - 16/06/2020 - Le Parisien </p>
        <p> Al-Khelaifi se réjouit de la reprise de la Ligue des Champions - 12/06/2020 - L'Équipe </p>
        <p> Aulas soutient le PSG dans sa campagne européenne - 12/06/2020 - Le Parisien </p>
        <p> Kurzawa, Meuniet et Draxler sur le départ - 09/06/2020 - L'Équipe</p>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}

<script>

let clubName = document.getElementById("clubName").innerText.toLowerCase();

var request = new XMLHttpRequest()

request.open('GET', 'https://api.breakingapi.com/news?type=headlines&q=climate&locale=en-US&api_key=demo', true);

request.onload = function() {
  // Begin accessing JSON data here test
  var data = JSON.parse(this.response)
  console.log(data)
  if (request.status >= 200 && request.status < 400) {

    if(data.articles.length <= 9) {

        data.articles.forEach(article => {

            var dateArticle = Date.parse(article.publishedAt);
            var dateParsed = new Date(dateArticle);

            document.getElementById("news").innerHTML += '<p>'+article.title+' - <span class="media">'+article.source.name+'</span> - '+dateParsed.toLocaleDateString('fr-FR')+'</p>\n';

        })

    } else {

        let tab = [];

        for (let i=0; i <= 9; i++){
            tab.push(data.articles[i]);
        }
        
        tab.forEach(article => {

            var dateArticle = Date.parse(article.publishedAt);
            var dateParsed = new Date(dateArticle);

            document.getElementById("news").innerHTML += '<p>'+article.title+' - <span class="media">'+article.source.name+'</span> - '+dateParsed.toLocaleDateString('fr-FR')+'</p>\n';
            
        })

    }
    
  } else {
    console.log('error')
  }
}

request.send();

</script>

{% endblock %}  