{% extends 'base.html.twig' %}

{% block title %}FootFans - Liste des évènements{% endblock %}

{% block body %}
    <h1>Liste des évènements</h1>

    <table class="table" style="line-height:2.5em; margin-bottom: 15px; margin:0 auto;">
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Description</th>
                <th>Participants</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td><a href="{{ path('user_show', {'id': ad.author.id}) }}">{{ ad.author.username }}</a></td>
                <td style="text-align:center">{{ ad.title }}</td>
                <td style="text-align:center">{{ ad.participants|length }}</td>
                <td>
                    <a class="cta" href="{{ path('ad_show', {'id': ad.id}) }}">Voir</a>
                    {% if app.user and (app.user.id == ad.author.id) %}
                        <a class="cta" href="{{ path('ad_edit', {'id': ad.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <p style="text-align:center;"><a class="cta" href="{{ path('ad_new') }}">Créer un évènement</a></p>
    {% endif %}
{% endblock %}
