{% extends 'base.html.twig' %}

{% block title %}Ad{% endblock %}

{% block body %}
    <h1>{{ ad.title }}</h1>

    <p style="color:palegreen;">{{ msg }}</p>
    
    {% if ad.participants|length > 0 %}
        {% if ad.participants|length > 1 %}
            <p>{{ ad.participants|length}} membres sont intéressés</p>
            {% for user in ad.participants %}
                <p><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.username }}</a><p><br/>
            {% endfor %}
        {% else %}
            <p> 1 membre est intéressé</p>
            {% for user in ad.participants %}
                <p><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.username }}</a><p><br/>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>Aucun membre n'est intéressé pour le moment.</p>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Author</th>
                <td><a href="{{ path('user_show', {'id': ad.author.id}) }}">{{ ad.author.username }}</a></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ad.description }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user and (app.user.id != ad.author.id) %}
        <a href="{{ path('ad_addParticipate', {'id': ad.id, 'userId': app.user.id}) }}">JE SUIS INTERESSE</a><br/>
    {% endif %}

    <a href="{{ path('ad_index') }}">back to list</a>

    {% if app.user and (app.user.id == ad.author.id) %}
    <a href="{{ path('ad_edit', {'id': ad.id}) }}">edit</a>

    {{ include('ad/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
