{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% set flag = false %}
    {% if app.user and (app.user.id != user.id) %}
    {% for friend in app.user.friends %}
        {% if friend.username == user.username %}
            <a href="{{ path('user_removefriend', {'id': app.user.id, 'targetId': user.id}) }}">DELETE FRIEND <i class="fas fa-user-times"></i></a>
            {% set flag = true %}
        {% endif %}
    {% endfor %}
        {% if not flag %}
            <a href="{{ path('user_addfriend', {'id': app.user.id, 'targetId': user.id}) }}">ADD FRIEND <i class="fas fa-user-plus"></i></a>
        {% endif %}
    {% endif %}

    {% if msg %}
        <p style="color:palegreen;"> {{ msg }} </p>
    {% endif %}
    <h2> {{ user.username }} </h2>
    {% if app.user and (app.user.id == user.id) %}
                <a class="cta" href="{{ path('user_edit', {'id': user.id}) }}">Modifier mon profil</a>

                {% endif %}
    <div id="main-profile">
        <table class="table bloc-profil">
            <tbody>
                {% if (app.user and (app.user.id == user.id)) %}
                    <tr>
                        <th class="sous-titre">Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endif %}

                {% if user.club %}
                    <tr>
                        <th class="sous-titre">Club favori</th>
                        <td>
                            <a href="{{ path('club_show', {'id': user.club.id}) }}">
                            <img src="{{ user.club.logo }}" style="height:30px;" alt="" />
                            {{ user.club.name }}
                            </a>
                            {% if user.since %}
                                depuis {{ user.since }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                
                {% if user.bio %}
                <tr>
                    <th class="sous-titre">Bio</th>
                    <td>{{ user.bio }}</td>
                </tr>
                {% endif %}
        
                {% if user.location %}
                    <tr>
                        <th class="sous-titre"><i class="fas fa-map-marker-alt"></i></th>
                        <td>
                            {{ user.location }}
                        </td>
                    </tr>

                {% endif %}

                </tbody>
                
                
            
        </table>
        <div class="bloc-profil" id="bloc-post">
            {% if app.user and (app.user.id == user.id) %}
                <a class="cta" href="{{ path('post_new') }}">Poster un message <i class="fas fa-edit"></i></a>
            {% endif %}

            {% for post in user.posts %}
                <div class="post-line">
                    <p> {{ post.content}} <span class="sm-txt">{{ post.postedAt|format_datetime(locale='fr') }}</span></p>
                </div>
            {% endfor %}
            {% if user.posts|length < 1 %}
                <p> {{ user.username }} n'a encore rien posté.</p>
            {% endif %}
        </div>
        <div class="bloc-profil">
    {% if (app.user and (app.user.id == user.id)) %}

        {% if user.friends|length > 0 %} 

        <p>Mes amis</p>

        {% for friend in user.friends %}
            <a style="margin-left: 15px;" href="{{ path('user_show', {'id': friend.id}) }}">{{ friend.username }}</a> <br>
        {% endfor %}

        {% else %}
            <p>Vous n'avez pas encore d'amis :(</p>
            {% if user.club %}
                <a href="{{ path('club_show', {'id': user.club.id}) }}"><p>Voir les membres fans de mon club</p></a>
            {% endif %}
        {% endif %}


    {% else %}

        {% if user.friends|length > 0 %}
            {% if user.friends|length > 1 %}
                <p>{{ user.username }} a <b>{{ user.friends|length }}</b> amis.</p>
            {% else %}
                <p>{{ user.username }} a <b>{{ user.friends|length }}</b> ami.</p>
            {% endif %}
        {% else %}
            <p>{{ user.username }} n'a pas encore d'amis.</p>
        {% endif %}

    {% endif %}
    </div>
    </div>

<h2>Evènements organisés</h1>
    {% if ads|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
            {% for ad in ads %}
                <tr>
                    <td>{{ ad.id }}</td>
                    <td>{{ ad.title }}</td>
                    <td>{{ ad.description }}</td>
                    <td>
                        <a href="{{ path('ad_show', {'id': ad.id}) }}">show</a>
                        {% if app.user and (app.user.id == user.id) %}
                            <a href="{{ path('ad_edit', {'id': ad.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
                </table>
        
            {% endfor %}

        {% else %}
            <p>Pas encore d'évènements organisés</p>
        {% endif %}
        
    {% if app.user and (app.user.id == user.id) %}
        <a class="cta" href="{{ path('ad_new') }}">Créer un évènement <i class="fas fa-edit"></i></a>
    {% endif %}

    <h2>Participations aux activités</h2>
    {% for activity in user.activities %}
        <a href="{{ path('ad_show', {'id': activity.id}) }}"> {{ activity.title }}</a>
    {% endfor %}



{% endblock %}
